name: Notebook
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.11.5'

      - name: Install dependencies
        run: make install

      - name: Make lint
        run: make lint
        
      - name: format
        run: make format

      - name: Run Main File
        run: python main.py

      - name: Run tests
        run: make test